<h1>Ayuda</h1>

<div class="container">
	<h2>Comestibilidad</h2>
  <div class=" card-deck">

  	<div class="card">
  		<img src="assets/img/Q654236.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Comestible</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q4317894.png" class="card-img-top">
      <div class="card-body">
        <h5>No comestible</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q19888537.png" class="card-img-top">
      <div class="card-body">
        <h5>Precaución</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q1169875.png" class="card-img-top">
      <div class="card-body">
        <h5>Psicoactiva</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q19888562.png" class="card-img-top">
      <div class="card-body">
        <h5>Venenosa</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q19888579.png" class="card-img-top">
      <div class="card-body">
        <h5>Alérgico</h5>
      </div>
  	</div>

    <div class="card">
  		<img src="assets/img/Q19888591.png" class="card-img-top">
      <div class="card-body">
        <h5>Mortal</h5>
      </div>
  	</div>

  </div>
</div>

<div class="container">
	<h2>Forma del sombrero</h2>

  <div class=" card-deck">

    <div class="card">
  		<img src="assets/img/Q19887953.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Gorro de champiñón campanulado</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887954.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de hongo cónico</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q14544535.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de hongo convexo</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887955.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de seta deprimida</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887957.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa plana de setas</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887958.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de seta infundibuliforme</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q14544541.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de seta offset</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887961.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de seta ovada</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887962.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de seta umbilicato</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887964.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Tapa de hongo</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887965.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sin tapa de seta</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q23058598.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Cóncavo al plano</h5>
      </div>
  	</div>
  </div>
</div>

<div class="container">
	<h2>Carácter de la estipe</h2>

  <div class=" card-deck">

    <div class="card">
  		<img src="assets/img/Q14544581.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Estipe desnudo</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q14544582.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Estipe con anillo</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887985.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Estipe volva</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887987.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Estipe con anillo y volva</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887988.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Estipe de cortina</h5>
      </div>
  	</div>

  </div>
</div>

<div class="container">
	<h2>Accesorios del himenio</h2>

  <div class=" card-deck">

    <div class="card">
  		<img src="assets/img/Q14544569.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adenato de himen adjunto</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887923.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adjunto de himenio anexado</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887925.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Fijación de himenio decurrente</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887926.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adjunto de himenio emarginado</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q14544563.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Fijación de himenio libre</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887929.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adjunto de himenio secante</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887930.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sinuato de himen adjunto</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887931.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Adjunto de himenio subdecurrente</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19887932.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Sin fijación de himenio</h5>
      </div>
  	</div>
  </div>
</div>

<div class="container">
	<h2>Tipo de himenio</h2>

  <div class=" card-deck">

    <div class="card">
  		<img src="assets/img/Q269345.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Láminas</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19861549.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Poros</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19861550.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Liso</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19861551.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Crestas</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q19861552.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Dientes</h5>
      </div>
  	</div>
    <div class="card">
  		<img src="assets/img/Q2034230.png" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Carnosa</h5>
      </div>
  	</div>
  </div>
</div>
