body{
    background-color: grey;
    padding: 0%;
}

div.cajalogo{
    
    padding: 40px;
}

div.main   {

    display:flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

div.color{
    background-color: red;
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 100px;

}


label.deseleccionado{
    background-color: blueviolet;
    border-radius: 100px;
}

.borderBottom{
    border-bottom: 1px solid #7f7f7f;
}

div.color > select{
    width: 900px;
}

div.imagenforma, div.imagenestirpe, div.accesoriohimenio, div.tipohimenio{
    background-color: whitesmoke;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 30px;
    
}


div.imagenforma > label > img{
    margin: 30px;
    border-radius: 100px;
}




div.imagenestirpe > label > img{
    margin: 30px;
}



div.accesoriohimenio > label > img{
    margin: 50px;
}




input{
    
    display: block;
}

div.labelconinput{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    margin: 10px;
}


div.titulo{
    display: flex;
    justify-content: center;
}

div.textocopa{
    justify-content: center;
    display: flex;
}

p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.ocultos{
    display: none;
}


.botonfin{
    margin-top: 30px;
    border-radius: 20px;
}

/*-----------------------------------------*/

