.enlace_seta{
    text-decoration: none;
    color: black;
}

.enlace_seta:hover{
    color: #f7f7f7;
}

div.cajalogo{
    
    padding: 40px;
}

div.main   {

    display:flex;
    justify-content: center;
    flex-direction: column;
}

div.color{
    display: flex;
    justify-content: center;
    margin: 30px;
    border-radius: 100px;

}


label.deseleccionado{
    background-color: blueviolet;
    border-radius: 100px;
}

.borderBottom{
    border-bottom: 1px solid #7f7f7f;
}

div.color > select{
    width: 900px;
}

div.imagenforma, div.imagenestirpe, div.accesoriohimenio, div.tipohimenio{
    background-color: #9CCC65;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
}


div.imagenforma > label > img{
    margin: 30px;
    border-radius: 100px;
}




div.imagenestirpe > label > img{
    margin: 30px;
}



div.accesoriohimenio > label > img{
    margin: 50px;
}




input{
    
    display: block;
}

div.labelconinput{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    margin: 10px;
}


div.titulo{
    display: flex;
    justify-content: center;
}

div.textocopa{
    justify-content: center;
    display: flex;
}

p{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.ocultos{
    display: none;
}


.botonfin{
    width: 100% !important;
    background-color: #333333;
    border-radius: 100px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    font-size: 1.25em;
    margin: 20px 0 20px 0;
    margin-bottom: 50px;
}

/*-----------------------------------------*/

.results{
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    margin-top: 18px;
    padding: 20px;

    background-color: #9CCC65;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2%;
    text-align: center;
}

.comestibilidad{
    padding-top: 10px;
    font-weight: bold;
}